[2020-03-24 20:14] monicagerber opened #1 "April 2020 event: Lightning talks ⚡️"
@ivelasq let us know if you want to do a theme or anything goes! Also, should it all be R-related?

- [ ] topic
- [ ] speakers confirmed
- [ ] speaker bios and talk descriptions finalized
- [ ] sponsor confirmed (space, conferencing software, food)
- [ ] meetup.com event posted

[2020-03-24 20:16] monicagerber opened #2 "May 2020 event"

[2020-03-24 20:16] monicagerber opened #3 "June 2020 event: R-Ladies members in industry (i.e. for-profit and tech companies)"
Potential topic: R-Ladies members in industry jobs (i.e., not .
We have a lot of R-Ladies members coming from academia, non-profit, and research organizations but many of us have either transitioned to industry or began learning R in an industry data science role. Lets hear more from this other perspective.

- [ ] topic
- [ ] speakers confirmed
- [ ] speaker bios and talk descriptions finalized
-

[2020-03-24 20:16] monicagerber opened #4 "July 2020 event"

[2020-03-24 20:17] monicagerber opened #5 "August 2020 event"

[2020-03-24 20:17] monicagerber opened #6 "September 2020 event"
Here are some ideas for September:
I'm thinking lightning talks for September. We all have a lot of screen time these days and lightning talks cut down on how much time you need to prepare the presentation! Some ideas:
- work from home survival tips
- present an interesting analysis that you've worked on during the stay-at-home order
- test out a presentation you want to give at a virtual conferen

[2020-03-24 20:17] monicagerber opened #7 "October 2020 event"

[2020-03-24 20:17] monicagerber opened #8 "November 2020 event"

[2020-03-24 20:18] monicagerber opened #9 "December 2020 event"

[2020-08-05 04:17] #3 closed

[2020-08-05 04:18] #1 closed

[2020-08-05 04:18] #2 closed

[2020-08-05 04:18] #4 closed

[2020-12-08 20:21] #8 closed

[2020-12-08 20:21] #7 closed

[2020-12-08 20:21] #6 closed

[2020-12-08 20:22] #5 closed

[2020-12-10 00:48] #9 closed

[2020-12-10 00:54] monicagerber opened #12 "Lightning Talks: Our Year in Data"
# Topic
Lightning talks on any data visualization (or lessons learned) from 2020

### Who is the audience?
All Seattle R-Ladies members

### Why is this important?
Celebration of what we've learned in 2020. It's been a roller coaster, but surely some of us have some fun R projects to share!

### What should be covered?
* TidyTuesday data visualizations
* Any other dataset!

### Suggested speakers

[2020-12-11 20:37] katiejolly opened #13 "Reproducible Research"
# Topic

### Who is the audience?

* Researchers

* Students

* Anyone else interested in learning more about how to best structure projects that use R, although I'm hoping for the lessons to be applicable to other tools as well.

### Why is this important?

* Making research reproducible makes it easier for other people (or yourself in the future) to check your work and collaborate.

### What sho

[2020-12-12 02:17] fuetra00 commented on #13
Talk I could prepare, because I’m working on  this now - “Learning to make clear, compelling figures via reproducible code”

[2020-12-12 02:24] fuetra00 commented on #13
I’d show some really uninformative preliminary stuff I made, describe problems I had, how I approached fixing them, and why reproducible code simplified my life, and made me more confident in my work

[2020-12-12 07:39] LiYingWang commented on #13
Hi! I'm very interested in giving a talk about reproducible research. The topic will be writing papers in R markdown that combines text and R code for data visualization and analysis, along with version control with git. I will be happy to demonstrate the workflow that I use for my papers, and how this workflow is practical and can be applied to many different types of research.

[2020-12-12 19:14] katiejolly commented on #13
Hi @fuetra00 and @LiYingWang! Those both sound great. A few questions I have for you at this point:

1. Approximately how long do you think your presentation will be?
2. Does a lunchtime (let's say 12 or 12:30) meetup work for you? I have a slight preference for lunch because that makes it easier for later timezones to join as well. If not we can do something like 5:30 instead.
3. Are there days d

[2020-12-12 19:20] katiejolly commented on #13
I am also thinking about proposing a talk about makefiles/Docker with an example from my work. Still thinking about whether or not I want to volunteer for that though...

[2020-12-12 21:52] kdillmcfarland commented on #13
I'd like to volunteer to teach Git or Rmarkdown, both of which I've taught before. No preference on which one.

[2020-12-12 22:22] katiejolly commented on #13
@kdillmcfarland Sounds great! Let's go with talking about git and how it's useful specifically in the context of collaboration and reproducibility. Sometime in the next week or so please let me know:

1. Approximately how long do you think your presentation will be?
2. Does a lunchtime (let's say 12 or 12:30) meetup work for you? I have a slight preference for lunch because that makes it easier fo

[2020-12-12 22:25] katiejolly commented on #13
At this point with 3 confirmed talks we are probably set on speakers. However, I would say we can do shorter talks to fit 4 if someone else volunteers to talk about something that is not already covered by our current set. I think it would be great for someone to cover Docker but that also might be a good topic to have at a different event. And of course anyone who is interested can always do a ta

[2020-12-14 22:18] monicagerber commented on #13
@kdillmcfarland sounds like Git or R Markdown could be good workshop material. When you taught them before, how long did you need to teach these topics and what did you cover?  One idea is to give an intro talk or case study, and then dive into specifics in a follow-up workshop/tutorial later in the year if that's something you're willing to cover. I could help out with a workshop, especially if i

[2020-12-14 22:21] monicagerber commented on #13
@katiejolly would love to attend a talk on Docker with extensive use analogies and illustrations. I have attended a few Docker talks and I still don't quite get it! Maybe if it was taught Carpentries-style where we code along with you?

[2020-12-14 22:30] kdillmcfarland commented on #13
@monicagerber Yes! I've been discussing with Katie re: the time and style for this event. I'll be giving a short talk on git/GitHub. Happy to discuss a workshop-style event later in the year as well. I have 6 hrs of material (mix of my own and Carpentries) that covers reproducible research in R (projects, packrat, Rmd) and git (local, GitHub, interface in RStudio)

[2020-12-16 21:14] #12 closed

[2020-12-17 02:06] LiYingWang commented on #13
@katiejolly Sounds great! I am excited that I can share my experiences. For your questions, my answers listed below:

1. I think my presentation will be 15-20 mins, but I can make it shorter or longer according to your schedule
2. Lunchtime meetup or 5:30 all works for me
3. I am available that week except Jan 11 morning and Jan 15 morning
4. Is it possible to know audience type, such as novices o

[2020-12-17 19:05] katiejolly commented on #13
@LiYingWang thank you! 15-20 min sounds perfect.

For audience-- plan to have mostly people with some prior experience. You can expect that people will have used RMarkdown and are at least familiar with git (even if they haven't used it much). From what I can tell the range of experience is pretty wide which makes it a little difficult to plan for a specific level. Your proposed structure (concept

[2020-12-17 19:07] katiejolly commented on #13
@fuetra00 just checking in-- are you still planning to give a talk? Do you have any questions that I can help with? I think people would really enjoy hearing about your topic! 😄

[2020-12-17 20:20] fuetra00 commented on #13
Hi, yes, I am still interested.

Answers to your questions:
1. 15-20 minutes, whatever you need.
2. and 3. Lunch time all days that week OK.
4. I attended the meet up this week, so I have a sense of how things work.
5. OK with recording.

Tentative title: How reproducible code is helping me learn to make clearer,
more compelling figures.
Presentation: Slides with figures where I discuss how and wh

[2020-12-18 19:12] katiejolly commented on #13
@fuetra00 Wonderful, thank you! 15-20 minutes is great 👍  Please feel free to let me know if any other questions come up as you're putting together your talk.

[2020-12-18 19:14] katiejolly commented on #13
@fuetra00 @monicagerber @LiYingWang @kdillmcfarland

Does 12:00 pst on Thurs Jan 14 work for all of you? I think yes based on what people have told me but just want to make sure I didn't miss something before schedule! Just trying to get most of this covered before people leave for holiday vacations 😄 Thumbs up this message if it works!

[2020-12-22 07:19] fuetra00 commented on #13
Yes, this date and time work for me!

See you then.

- tf

[2020-12-29 23:36] katiejolly-ookla commented on #13
Hey everyone! Just made the event link https://www.meetup.com/rladies-seattle/events/275433771/. Please let me know if you would like for me to make any edits to the description or whatever else. And here's the poster if you'd like to share it. I'll start promoting the event more after the new year break.
![rladies_jan_poster_twitter_draft](https://user-images.githubusercontent.com/56280392/103320

[2020-12-30 07:45] LiYingWang commented on #13
@katiejolly-ookla Could I change the description of my talk to "Writing research papers with reproducible analysis using R Markdown compendia"? Thank you very much!

[2020-12-30 17:09] katiejolly-ookla commented on #13
@LiYingWang Yep I will edit that now!

[2021-01-06 01:50] monicagerber opened #14 "Introduction to parallel processing in R"
# Introduction to parallel processing in R

### Who is the audience?
Intermediate-level R users.
Data Circles, Vancouver and PDX R-Ladies

### Why is this important?
Analyzing very large data sets and/or needing to run a computationally demanding analysis many times can be very slow.

### What should be covered?
@bbarker505 has volunteered to demo use of the "parallel", "foreach", and "doParallel"

[2021-01-13 02:28] katiejolly-ookla commented on #13
@LiYingWang @kdillmcfarland @fuetra00

hey y'all! just wanted to check in. any last questions before the meetup on thursday? no need to respond if you don't have any 😄 and feel free to comment here anytime tomorrow/thursday morning if something comes up that i can help with!

[2021-01-14 21:22] kdillmcfarland opened #15 "Introduction to git and GitHub"
# Introduction to git and GitHub

### Who is the audience?

* Anyone interested in using distributed version control
* Researchers, students, etc

### Why is this important?

* Version control helps you and others use your code now and in the future

### What should be covered?

* Command line git file tracking
* GitHub file sharing/storage
* A git GUI and/or git in RStudio
* Branches and merge co

[2021-01-14 21:31] monicagerber commented on #15
Thanks for initiating this @kdillmcfarland! @katiejolly and I were thinking that there is a lot of unmet demand for git content!

I would love to co-teach an intro to git course for beginners following [the Carpentries lesson](https://swcarpentry.github.io/git-novice/). I think this would have to be in the evening because we need at least 2 hours.

And I would love to see a "version control with R

[2021-01-14 23:07] katiejolly-ookla commented on #13
@LiYingWang @kdillmcfarland @fuetra00

THANK YOU THANK YOU to all the speakers!! I've gotten *such* positive feedback from everyone! The talks were excellent. If there's any feedback about what went well or what could be improved in the future please let me know!

[2021-01-14 23:58] fuetra00 commented on #13
I really enjoyed the other two presentations. Seeing other people's reproducible workflow was really helpful. Can someone send me the slack invite? I have a figshare repository. Not public yet, but will be eventually. Happy to share the link with R Ladies Seattle participants so they can play with my data and code

[2021-01-15 00:01] monicagerber commented on #13
@fuetra00 send us an email at seattle@rladies.org with the email address you'd like to use to access Slack.

[2021-01-15 00:45] LiYingWang commented on #13
Thank @katiejolly-ookla and @monicagerber for organizing the workshop! It was really great to share and learn from the other two presentations. Could you also send me the slack invitation using this email address: jaybin502@gmail.com? I would like to share the packages I use for making tables there. Thank you very much!

[2021-01-16 18:01] kdillmcfarland commented on #15
Maybe a lunch time series? I love the accessibility of lunch time meetups and we could each take lead on one plus recruit others for later ones. Could do 1hr chunks like

* git (init, commits, checkout)
* github (fetch, pull, online interface)
* git GUI and in Rstudio
* git collaboration (branches, merge conflicts)

[2021-01-16 18:32] katiejolly commented on #15
One of the women I work with is interested in doing a session on an intermediate/advanced topic! We were thinking something like GitHub actions or another CI topic. Maybe that’ll be good after this series :)

[2021-01-22 20:43] monicagerber opened #16 "How to give a good conference or meetup talk"
# Topic

### Who is the audience?
All R-Ladies members
Could invite folks from other Seattle data science meet-ups

### Why is this important?
Help more people see themselves as experts and speakers

### What should be covered?
-How to give lightning talk
-How to give a longer talk
-Online vs. in-person considerations
- List of data science conferences to look out for in upcoming year
- R-Ladies s

[2021-01-22 20:49] k8hertweck commented on #16
I'd be happy to contribute to this discussion! I have a blog post on my to-do list that does a debriefing of my rstudio::global experience preparing a talk.

[2021-01-22 21:56] karawoo commented on #16
I'd be happy to join in as well

[2021-01-24 22:09] mariev commented on #16
happy to! I think my experience with RStudio was a bit different due to format.

[2021-01-26 01:46] monicagerber opened #17 "Create a new banner for the meetup.com page utilizing the R-Ladies Seattle logo"
Request for a volunteer with design skills or aspiration!

Change the main page photo here: https://www.meetup.com/rladies-seattle

[2021-01-26 02:01] monicagerber commented on #16
Thanks @k8hertweck, @karawoo, and @mariev! Some follow-up questions:

- What do you think is the best format for this? Do you each want to do a short presentation (up to 20 min)?
- Is there anything in the "what should be covered?" section that you'd like to take on? Something I missed?

For this event, I'd like to utilize a collaborative document so that attendees can help us crowd source info on

[2021-01-26 02:10] monicagerber commented on #15
It looks like the [Carpentries lesson](https://swcarpentry.github.io/git-novice/) is 3 hours long and covers most of what you've listed, @kdillmcfarland. We could do 3 lunchtime sessions of 1 hour each. Although I wonder how challenging that would be in an online environment (rather than classroom). Do you know of anyone doing intro git classes online right now? Maybe something more specific to us

[2021-01-26 02:40] kdillmcfarland commented on #15
I do like the lunchtime series idea. Carpentries is all remote now and it goes pretty smoothly (I've heard from other instructors). Key changes that help are (1) open office hour(s) the day before to help with any install issues (2) an instructor dedicated to chat monitoring, (3) giving a bit more time (everything just seems to take a little longer remote esp if you use breakout rooms).

So we cou

[2021-01-26 03:01] monicagerber commented on #15
Oops, sorry @kdillmcfarland I did not see your 1hr suggestion at first! Do you want to take the lead on this intro series? I could sign on as a co-lead, but would be great to get 1-2 more people to help with sessions.

[2021-01-26 03:03] monicagerber commented on #15
Lead, as in get us organized for the intro series, and assign us to co-teach or lead individual sessions. :)

[2021-01-27 18:25] karawoo commented on #16
I am, ironically, not developing any new presentations right now (I'm still recovering from giving three brand new talks within a ten day period and I told myself I'd cool it for a while). I'd be happy to participate in a more panel-style discussion, or if others are interested in giving presentations then I'm happy to sit back and chime in during the q&a.

[2021-01-27 18:47] k8hertweck commented on #16
I like the idea of a panel discussion, because it's pretty fun to talk about different styles of preparing talks, and can offer a diversity of options for the audience to consider side-by-side. We could have a short presentation at the beginning that can provide an overview of basic topics/resources?

[2021-01-29 16:58] stefaniebutland commented on #16
Resource: [Some handy guidelines on giving a lightning talk](https://github.com/tracykteal/lightning-talks), by Tracy Teal

[2021-02-02 02:40] kdillmcfarland commented on #15
Absolutely! Since we have a Feb event scheduled, perhaps reproducible March, one a week for the month?

[2021-02-17 23:32] monicagerber commented on #16
Meet-up scheduled for Wednesday, April 7th at 6pm. Thanks @ivelasq for moderating!

https://www.meetup.com/rladies-seattle/events/276427163/

[2021-02-18 00:07] ivelasq commented on #17
Throwing an option into the ring :)
![cover](https://user-images.githubusercontent.com/12236152/108284520-fe209980-714a-11eb-8346-7b973c302302.png)

[2021-02-18 00:29] monicagerber commented on #17
OMG THIS LOOKS AMAZING!

[2021-02-18 00:40] monicagerber commented on #17
I saved this to the Branding/ directory in our shared Google Drive and updated our meetup.com page. Thanks Isabella :)
I love it!

[2021-02-18 00:40] #17 closed

[2021-02-18 02:51] monicagerber opened #18 "In the Outdoors with R-Ladies Seattle"
# Topic

⛺ 🌴 🛹 🧗‍♀️  Lightning talks on analyses/packages/etc. that are outdoors-themed.

### Who is the audience?
All of the R-Ladies members who are into kayaking, climbing, biking, city walks, birding, skiing, and commuting to work via a paddle board across Lake Union.

### Why is this important?
It's Seattle -- we're outdoorsy! And it will be fun.

### What should be covered?
5 min lightning t

[2021-02-18 04:07] monicagerber commented on #15
Thanks to some discussions on R-Ladies Seattle Slack, this will be scheduled for April.

@kdillmcfarland, I created a folder on google drive to help organize us. Will share with you.

[2021-02-23 01:30] katiejolly-ookla opened #19 "Writing slides with R-based tools"
# Topic

Packages like `{xaringan}` provide a nice framework for drafting slides with (R)markdown. In preparation for April's "how to give a good talk" meetup we will talk about the logistics of putting together the slides!

### Who is the audience?

* R users interested in giving talks and/or using Rmarkdown to write those talks

### Why is this important?

* writing your slides directly in rmark

[2021-02-23 18:58] mcsiple commented on #19
For the `xaringan` part of this session, I'd love to talk about best / easiest practices for sharing our slides- through github pages, Netlify, or other ways that people prefer. Personally I've had some trouble sharing slides via github pages, though I *have* done it before. I would love to dig into this and learn by presenting but I am more slammed than usual at work right now.

Maybe if there's

[2021-02-23 19:31] katiejolly-ookla commented on #19
I think these are both great ideas! I could take on one of them and I'll chat with Silvia to see if she's planning to cover either one. Ideally maybe we can find someone newer to presenting :) I'll ask around!

[2021-02-24 00:50] spcanelon commented on #19
I don't use xaringanthemer myself so I'm happy to cover slide deployment. Thanks for the suggestion @mcsiple!

Maybe half of the demo can cover basics of xaringan and the other half slide deployment via GitHub pages.

[2021-02-24 00:51] katiejolly-ookla commented on #19
@spcanelon That sounds good to me! I will ask around specifically for people who know xaringanthemer. I use it for most of my presentations so can always do it if we don't get any other volunteers.

[2021-02-24 04:26] kmasiello commented on #19
I deploy ‘xaringan’ slides as part of embedded content on ‘distill’ sites. I can help cover this topic if interested. Example here: https://kmasiello.github.io/why_apis/

[2021-02-24 14:32] spcanelon commented on #19
The sharing and embedding features of the `xaringanExtra` package are definitely super handy for embedding slides into a distill or blogdown site! I'll defer to @katiejolly-ookla but I think demo-ing `xaringanExtra` and building a distill site may require more time than what was in mind for the meetup 🤔

To clarify, I was thinking to demo deployment via GitHub pages to show people how to obtain a

[2021-02-24 17:44] katiejolly-ookla commented on #19
It seems like there's a ton of interest in all the xaringan features! And probably more than we can meaningfully cover in one meetup. For now let's plan to stick to just the basic design and deployment but @kmasiello you're on my list of people to reach out to for cool slide things in the future 😄 And we will be putting together resource lists for attendees so this will be a great thing to include

[2021-02-24 18:35] katiejolly-ookla commented on #19
Okay so for right now let's plan on having Silvia's longer talk. Silvia-- we can chat about what to include exactly. Some deployment would be great but feel free to take some creative liberty! I'll plan to give more of a lightning talk style demo of xaringanthemer unless someone else volunteers for that.

I'll plan on Tues March 16, 5:30-6:30pm!

[2021-02-24 19:28] mcsiple commented on #19
Woohoo @spcanelon and @kmasiello -- this is exactly what I want to move towards. So far I have only ever deployed standalone slides through github pages and I still don't have a great workflow for it. I like the idea of doing a `xaringan`-focused meetup where we talk about standalone slides w github page deployment, then a later meetup focused on `distill` for which deploying `xaringan` slides is

[2021-02-24 19:32] katiejolly-ookla commented on #19
I will make the meetup event today or tomorrow and post the link here when I do. Ty for all the planning help, everyone! 💜

[2021-02-25 00:07] katiejolly-ookla commented on #19
Meetup link: https://www.meetup.com/rladies-seattle/events/276570832

And the event image
![twitter_img_march](https://user-images.githubusercontent.com/56280392/109083181-45160e00-76ba-11eb-8d51-f305cfadb061.png)

Let me know if anyone wants an edit to any of it!

cc @spcanelon

[2021-02-25 00:54] spcanelon commented on #19
This looks beautiful! And the content looks great to me 👍

[2021-03-16 17:43] katiejolly-ookla commented on #19
@spcanelon just want to reach out real quick-- any last questions, etc. I can help with? I'm looking forward to the meetup this evening!

We've already seen some requests for materials from your talk, as a heads up 😄 If you're comfortable sharing then I can post in the meetup event after the event ends.

[2021-03-16 18:35] spcanelon commented on #19
Hi @katiejolly-ookla! No questions here and I'm looking forward to the meetup too!

Yes, definitely comfortable sharing the materials. I'm finalizing the accompanying blog post right now but I'll be linking it here: https://silvia.rbind.io/talk/2021-03-16-xaringan-deploy-demo/

[2021-03-17 00:04] mcsiple commented on #19
This looks so amazing @spcanelon ! Thank you for putting all this work into this presentation and materials... also it looks much more painless than my `xaringan` experience to date.

[2021-03-17 00:13] spcanelon commented on #19
Thank you @mcsiple!! And I'm so glad to hear the deployment process looks more approachable now, hopefully the demo will confirm!

[2021-03-31 02:04] mariev opened #20 "BoF at Cascadia R Conference"
# Topic
ASA JEDI initiative

### Who is the audience?
Cascadia R Conference, June 4-5

### Why is this important?
Background: https://magazine.amstat.org/blog/2020/10/01/jedi/

### What should be covered?
Updates and open floor discussion

### Suggested speakers or contributors

Erin Chapman, ASA JEDI committee member, https://www.linkedin.com/in/erin-e-chapman

### Resources you would recommend t

[2021-03-31 18:40] monicagerber commented on #20
Thanks for suggesting this, Marie.

When I attended an in-person BoF session at rstudio::conf, it was informal networking. What are you imagining the format would be for this BoF? It looks like you are suggesting that Erin Chapman give updates on this ASA initiative followed but some kind of discussion.

How would you like R-Ladies Seattle to be involved?

[2021-04-05 22:02] monicagerber commented on #20
R-Ladies Seattle members have offered to help support this event and give input, but will not be co-hosting it.

[2021-04-05 22:02] #20 closed

[2021-04-07 01:44] ivelasq opened #21 "Intermediate git lightning talks"
# Intermediate git lightning talks

### Who is the audience?

* Anyone interested in using distributed version control
* Researchers, students, etc

### Why is this important?

* Version control helps you and others use your code now and in the future

### What should be covered?

* Implementing lessons learned from git sessions

### Suggested speakers or contributors

* Attendees from the April g

[2021-04-07 19:52] kdillmcfarland commented on #21
GitHub actions (mentioned after that week's workshop)
GitHub websites (I can give this talk)

[2021-04-08 12:29] monkeywithacupcake commented on #21
More on gitignore? When you accidentally commit all of your intermediate files - what to do?  (I can give this talk)

[2021-04-09 19:45] ivelasq commented on #21
I could give one on "using git when you work alone" - most of my R projects are just me but I still try to use GitHub. not sure if this would fall under intermediate git / if others are in the same scenario but just throwing it out there :)

[2021-04-09 19:55] bbarker505 commented on #21
I get very frustrated by generating and adding SSH keys for GitHub, and I don't understand their purpose. It seems like the process is overly complicated and it would be great to have a brief overview about them.

[2021-04-14 17:50] jennylsmith commented on #21
Hey, this is related to all of these topics - but what about mentioning awareness of security issues? I followed the `usethis` setup instructions and it helped me with SSH keys for github @bbarker505  and I remember (I think) it going over how to protect yourself from accidentally uploading protected/secret info. https://usethis.r-lib.org/articles/articles/usethis-setup.html

Also, this article wa

[2021-04-25 17:38] zeigna commented on #21
Some ideas from a newbie:

- Making a good readme.md file
- Hosting your work on github pages
- A review of the tools available with github
- Linking images, links to your sites (like linked in)
- doing code snippets

[2021-04-30 22:21] katiejolly-ookla opened #22 "Practice talks for CascadiaRConf"
# Topic

R-Ladies Seattle members who are giving talks at the [CascadiaRConf](https://cascadiarconf.com/) in early June could use this time to give practice talks and get feedback.

### Who is the audience?
_Who might want to know this? What other groups or organizations might be interested?_

### Why is this important?

It's a great way to give better conference talks!

### What should be covered

[2021-04-30 22:25] monicagerber commented on #22
Let me know how I can support!

[2021-05-14 02:07] Aryllen commented on #22
I am giving a talk at this conference (my first ever) and would welcome an opportunity to get some feedback...plus impetus to get a draft done sooner, haha.

[2021-05-14 06:57] katiejolly-ookla commented on #22
That would be awesome! For planning purposes, how long do you expect your
presentation to be?

On Thu, May 13, 2021 at 19:07 Nicole Kauer ***@***.***> wrote:

--

This email, its contents and attachments contain information from J2
Global, Inc. and/or its affiliates which may be privileged, confidential or
otherwise protected from disclosure. The information is intended to be for
the addressee(s)

[2021-05-14 15:26] Aryllen commented on #22
It's a 15 minute presentation so fairly close to that.

[2021-05-14 16:12] katiejolly-ookla commented on #22
That sounds great! Mine is 5 min and Kim's is about 20 if I remember correctly. So that leaves plenty of time for feedback and questions. I'll reach out when it gets closer with some logistical details. Thanks for volunteering!

[2021-05-14 16:59] Aryllen commented on #22
Thanks for setting this all up!

[2021-05-25 19:37] monicagerber opened #23 "Create an app for Slack sign-up"
Create something similar to the global org app: https://rladies-community-slack.herokuapp.com/

[2021-05-25 19:50] katiejolly-ookla commented on #22
Wow this is tomorrow! @kdillmcfarland and @Aryllen is there anything you need from me? I'll plan to have you two go first and I'll go last since mine is the shortest. We will do Q&A after each talk, rather than all at once at the end. We will also use the collaborate notes template so that the questions will be accessible afterwards as you make any edits to your talk. I'll include a section for ge

[2021-05-25 19:54] katiejolly-ookla commented on #22
Oh also if you have links to a GitHub repository or talk slides or anything else that might be helpful for attendees please send that my way!

[2021-05-25 19:57] katiejolly-ookla commented on #22
Notes doc is here https://ookla.d.pr/aSPLWA

[2021-05-25 20:29] Aryllen commented on #22
@katiejolly-ookla, time has flown! Definitely still in the rough-draft phase. Hopefully I'll have something reasonable by tomorrow morning. If not, at least there will be extra room for improvements. 😆

Title: Hey, I want that app! Designing contagious Shiny apps
Pronouns: she/they
No useful links at the moment.

[2021-05-25 21:04] katiejolly-ookla commented on #22
Haha no worries, my talk currently only has a title slide 😆 This will be very informal so feel free to use the time however you'd like. Even if your slides aren't ready I think it'll be a great group for feedback. Based on RSVPs it's a little smaller than normal which is perfect for actually being able to have conversations.

[2021-05-28 05:04] AnabelSMRuggiero opened #24 "Dimensionality Reduction: PCA, tSNE, UMAP"
# Topic

### Who is the audience?
UMAP was a specifically requested topic on the R-Ladies Seattle slack. More generally, dimensionality reduction is a useful technique for data visualization and as an initial layer of a model. This makes it a powerful tool in a data scientist's arsenal.

### Why is this important?
Data visualization: High dimensional data is tricky to present. Dimensionality reduc

[2021-06-01 21:31] lmcinnes commented on #24
I would be happy to help out in any way I can. You can reach me via email (leland DOT mcinnes AT gmail DOT com), here on github, or on twitter.

[2021-06-03 19:28] fedemolina commented on #24
It would be nice to apply this techniques to product characteristics in retail sector. You can use dataset from Investigating Effects of Out-of-Stock on Consumer Stockkeeping Unit Choice, HAI CHE, XINLEI (JACK) CHEN, and YUXIN CHEN, Journal of Marketing Research.
For example in SHOPPER: A PROBABILISTIC MODEL OF CONSUMER CHOICE WITH SUBSTITUTES AND COMPLEMENTS, of Athey, Ruiz & Blei they used t-sne

[2021-06-16 03:53] endimeon777 commented on #24
Best regards

I am trying to make a comparison of the incremental versions of dimensionality reduction methods. Could someone tell me where I can find the code for Incremental Locally Linear Embedding, or Incremental Multidimensional Scaling or Incremental Laplacian EigenMaps ?

Thank you.

[2021-06-16 04:43] AnabelSMRuggiero commented on #24
@endimeon777 Unfortunately, incremental dimensionality reduction methods are outside the scope of what I have prepared/am preparing for this tutorial proposal, and not an area I'm familiar with. A cursory google search for implementations has come up empty for implementations, but I did find academic papers on these algorithms. If the articles themselves don't give leads on where to find implement

[2021-07-27 03:48] ivelasq opened #25 "Mastering Shiny Bookclub"
This is something Jenny Smith and I chatted about and wanted to post to the group!

# Topic

Series of events based on the [Mastering Shiny](https://mastering-shiny.org/) book, with an emphasis on starting and completing a Shiny app.

### Who is the audience?

Beginners to Shiny and also anybody who wants to go deeper on a particular topic.

### Why is this important?

Creating Shiny apps is a use

[2021-08-30 15:38] katiejolly-ookla commented on #21
We are doing this event in September! I'll decide the day and time after we set speakers.
Not to call on anyone unexpectedly, but I'd love to get through some of the topics presented here. Lightning talks (5-8ish minutes) or something a little longer (let's say 15) would be fine. This means we probably won't do any tutorials, but rather high level or demonstration type talks. Feel free to discuss

[2021-08-30 16:18] bbarker505 commented on #21
Hi Katie,

Yes, I'm still interested in attending this event and having a lightning
talk on SSH keys, thanks! Can you remind me of the time and date of
the event?

Best,
Brittany

On Mon, Aug 30, 2021 at 8:38 AM Katie Jolly ***@***.***>
wrote:

[2021-08-30 16:44] katiejolly-ookla commented on #21
@bbarker505 We haven't set the day/time yet, I'll do that once we have all the talks set so it works for everyone :) I'll add you to my talk list for SSH keys. Looking forward to it!

[2021-08-30 17:01] bbarker505 commented on #21
Hi Katie,

Ohhhh, I see, I didn't realize you were asking me to give the talk; I
thought you just wanted to know if I was still interested in learning more
on the topic (I had a lot of issues w/ SSH keys). Sorry. Anyway, I could
probably still do it, but I have a lot going on in October, so it really
depends on what date you decide to do this event.

Thanks,
Brittany

On Mon, Aug 30, 2021 at 9:44

[2021-08-30 17:25] katiejolly-ookla commented on #21
No problem! Let's see how many other talks get planned and I'll let you know if there's still a lot of open time. Don't want to add too much work for you!

[2021-08-31 16:45] katiejolly-ookla commented on #21
@jennylsmith Would you be interested in doing an overview of the article you mentioned?

[2021-09-01 04:06] jennylsmith commented on #21
@katiejolly-ookla Definitely, I would be happy to do that as a lightening talk. I'll see if I can find some more resources as well to go with it.

[2021-09-01 13:28] zeigna commented on #21
Hi Katie,
I have not looked a lot into a good README.md but can we talk about it in a
few days?

Best,
Sophia

On Mon, Aug 30, 2021 at 11:38 AM Katie Jolly ***@***.***>
wrote:

--
_
S

~ OPTIMIST: Someone who believes that taking a step back after taking a
step forward isn't a disaster...it's more like a cha-cha (Robert Brault)

[2021-09-01 22:19] katiejolly-ookla commented on #21
@jennylsmith Wonderful! I will reach out when I have other speakers lined up to decide on a day/time.

@zeigna Yes, that is fine! And no need to be an expert :) Would be happy to chat after you've had a chance to think about it.

[2021-09-03 18:25] katiejolly-ookla commented on #21
@smpetersen will do a lightning talk on how we use PRs on our team to collaborate

[2021-09-03 18:28] katiejolly-ookla commented on #21
Right now I'm thinking either the 28th or 29th would be good. Since it's already September I want to give people plenty of time to plan ahead. Once we have a few more volunteers we can pick a specific day/time

[2021-09-03 19:19] sgosline commented on #21
I've been playing around with github actions in the context of reproducible scientific research and would love to talk about it!

[2021-09-03 19:22] katiejolly-ookla commented on #21
@sgosline That would be awesome! I'll add you to the list :)

[2021-09-03 19:22] katiejolly-ookla commented on #21
So far we've got:

Sara- GitHub actions
Sheryl- Pull requests
Jenny- security/usethis/etc.

[2021-09-05 02:25] monkeywithacupcake commented on #21
I can do the gitignore (sorry - somehow I did not see the question 5 days ago!)

[2021-09-07 15:42] katiejolly-ookla commented on #21
@monkeywithacupcake No problem! I'll add you to the list.

[2021-09-07 15:53] zeigna commented on #21
Hi Katie,

I have found some good resources but I am quite concerned about my ability
to effectively talk about making a good readme.md since I am actively using
git/github as nothing more than a "dropbox" for my code.  Since my talk
could only be titled "the questions I have about making a good readme.md",
I think I won't be able to give an effective presentation.

Best,

Sophie

On Wed, Sep 1, 2

[2021-09-07 16:14] zeigna commented on #21
Maybe it would be helpful then to actually have the conversation (versus
just the conversation I have been having in my head).  A different
perspective may be helpful.  What does later this week look like for
you, Katie?

Best,

Sophie

On Tue, Sep 7, 2021 at 12:01 PM Katie Jolly ***@***.***>
wrote:

--
_
S

~ OPTIMIST: Someone who believes that taking a step back after taking a
step forward isn't

[2021-09-07 16:21] katiejolly-ookla commented on #21
My email is katiejolly6@gmail.com, feel free to send me an email and we can find a time to chat!

[2021-09-09 14:18] ivelasq opened #26 "PolygRot"
# PolygRot: Using R and other programming languages

### Who is the audience?
Anybody who is interested in using R in conjunction with other programming languages or tools (C++, Python, Javascript/d3, Power BI, SQL) or is using other languages and want to know if R can be added to their workflow.

### Why is this important?
R, while awesome, is even more awesome with other programming languages.

[2021-09-09 20:24] katiejolly-ookla commented on #21
Hi @smpetersen @sgosline @monkeywithacupcake @jennylsmith! Thinking about days and times: does anyone have a preference between lunch (let's say 12:30) or late afternoon (let's say 4:30) and Sept 28th or 29th? You should plan for the event to last approx. 1 hour, sometimes a little less.

[2021-09-09 20:48] monkeywithacupcake commented on #21
I am flexible (as of right now) - will need to take off work if lunch-ish, so I hope we decide soon :)

[2021-09-09 20:55] monkeywithacupcake commented on #23
do we have access to the global org code? Because it is mostly a pamphlet....so, that could save a lot of copy/pasting

[2021-09-09 20:56] sgosline commented on #21
The 28th works for me, the 29th I have a day long meeting so it would be tricky.

[2021-09-09 23:32] smpetersen commented on #21
All of those combos would work for me.

[2021-09-10 05:03] katiejolly-ookla commented on #21
Great. Let's plan for the 28th at 4:30 as long as that works for Jenny! Thank you all so much for volunteering 😄 !! I really appreciate all the time and effort it takes to do these talks. I may put together some slides on GitHub pages, but I haven't decided for sure yet.

In the next few days I'll make the meetup event and post that link here. For event & promotional purposes: please send me the f

[2021-09-13 17:11] jennylsmith commented on #21
@katiejolly-ookla September 28th at 4:30pm works for me! Thanks!
name: Jenny Leopoldina Smith
pronouns: she/her
any additional information: Just note that it will be essentially an article review/ I'm not an expert
any additional questions: None so far :)

[2021-09-13 18:22] AetherUnbound commented on #21
I'd be happy to do a talk on the [GitHub CLI](https://cli.github.com/)! I love it, and my current git workflow is not complete without it :smile:

- name: Madison Swain-Bowden
- pronouns: she/her
- additional info: I'll probably be showing some examples through the terminal
- additional questions: None!

[2021-09-13 19:08] katiejolly-ookla commented on #21
The event has been posted, btw! Feel free to share it! https://www.meetup.com/rladies-seattle/events/280695445/

[2021-09-13 20:41] sgosline commented on #21
name (as you'd like it to appear in event materials):
Sara Gosline
pronouns (just for me to write the intros that I'll give)
she/her/hers
any additional information you may want me to know about your talk!
-I'll walk through an example of how i used github actions to render and save R markdowns
any additional questions you may have for me

[2021-09-14 02:35] monkeywithacupcake commented on #21
name (as you'd like it to appear in event materials):
Jess
pronouns (just for me to write the intros that I'll give)
she/her
any additional information you may want me to know about your talk!
-I'll give a brief example of gitignore and real life disasters it can avoid.

[2021-09-15 16:29] smpetersen commented on #21
late to the party!
name: Sheryl Petersen
pronouns: she/her
any additional information you may want me to know about your talk!
any additional questions you may have for me

[2021-09-24 16:33] ivelasq commented on #26
Some great ideas from yesterday! Thank you:

* PyLadies collaboration on using R and Python
* Using Python + ggplot2

[2021-09-24 18:36] katiejolly-ookla commented on #21
Hello @smpetersen @monkeywithacupcake @sgosline @AetherUnbound @jennylsmith !
I just wanted to check in with all of you before next week's event. At this point, is there anything you all need from me? Any lingering questions? Any ideas you want to brainstorm with someone? Otherwise, looking forward to seeing your work next week! 😊

[2021-09-26 22:36] monkeywithacupcake commented on #21
Should we send in short presentations or post here, so folks have references?

[2021-09-27 00:46] sgosline commented on #21
I'm sorry I dont think I'll be able to do it - I got a last-minute doctor's appt that conflicts and this specialist is really hard to find. Hopefully I can talk about my github action love another time?

[2021-09-27 14:57] katiejolly-ookla commented on #21
@sgosline That is fine and definitely more important! We can find another time to have you present 😄

@monkeywithacupcake Send presentations to me, katiejolly6@gmail.com. Thanks!

[2021-09-27 16:04] katiejolly-ookla commented on #21
@sgosline I may try to find someone to do a quick overview of GH actions just for this meetup but I think it's a topic many people are interested in so it's definitely not a replacement for your presentation!

[2021-09-27 16:12] sgosline commented on #21
That's totally fine! I was going to start by referencing the usethis package and then showing how I made some additions, so nothing special. I'm no expert :)

[2021-09-28 00:24] kmasiello commented on #21
@katiejolly-ookla
name - Katie Masiello
pronouns - she/her
any additional information you may want me to know about your talk! - I'll share my newbie success story in setting up Github Actions to automatically deploy a blogdown site to a SSH server.
any additional questions you may have for me - none!

@sgosline -- excited to hear what you had to share at a later date! I wish I'd known`usethis` ti

[2021-11-19 05:50] #26 closed

[2022-02-04 20:27] kdillmcfarland commented on #21
Let's tag this as complete! @ivelasq @monicagerber

[2022-09-21 21:52] kdillmcfarland commented on #23
I volunteer as tribute

[2022-10-05 20:30] kdillmcfarland commented on #23
Done!
https://github.com/rladies-seattle/blogdown_site/pull/14

[2022-10-13 19:54] golden-frog-JB commented on #18
I would like to give a presentation on recreation (camping/fishing) data and common pitfalls!

[2022-11-10 23:01] jennylsmith opened #27 "How I Use R in Biomedical Research and Data Analysis"
# Topic

A series of lightening talks discussing how they use R in their own daily work, specifically looking for those in health sciences and biomedical research.

### Who is the audience?
_Who might want to know this? What other groups or organizations might be interested?_

Those who are in school for statistics, biostatistics, and bioinformatics.
Those who currently work in statistics, biostat